.contianer {
    margin-left: 10%;
    margin-top: 5%;
}

.heading {
    text-align: center;
    color: orange;
    background-color: aquamarine;
}

.navbar {
    color: black;
    text-align: left;
    background-color: cadetblue;
}

#Home {
    color: black;
}