#heading {
  font-family: cursive;
  position: relative;
  margin-top: 12%;
  font-size: 33px;
  color: #3d54d3;
  text-align: center;
  text-decoration: underline;
  text-underline-position: below;
  text-underline-offset: 5px;
}

#heading:hover {
  color: #0400fd;
}

#mainDis {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 10%;
  padding-bottom: 50px;
  padding-left: 2%;
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
  height: max-content;
  width: max-content10px;
  background-color: lightskyblue;
  text-align: left;
  border-radius: 10%;
  border-bottom: solid 10px #05d9ff;
  border-right: solid 10px #05d9ff;
}

#inputBox {
  margin-left: 15%;
  position: relative;
  width: 250px;
  height: 40px;
  color: #1241a7;
  border: none;
  background-color: transparent;
  border-bottom: deepskyblue solid 5px;
  font-family: cursive;
  outline: none;
  font-size: 22px;
}

#addTaskButton {
  position: relative;
  margin-left: 15px;
  width: 75px;
  height: 42px;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #0400ff;
  background-color: #4a74ac;
  box-shadow: mediumspringgreen;
}

#addTaskButton:hover {
  background-color: lime;
  color: white;
  outline: none;
  border: none;
}

.notes {
  position: relative;
  margin-left: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.ButtonDelete {
  color: black;
}

.ButtonDelete:hover {
  color: red;
  font-size: 40px;
}

.ButtonAdd {
  color: black;
}

.ButtonAdd:hover {
  color: lime;
  font-size: 40px;
}

.noteText {
  font-family: cursive;
  text-transform: capitalize;
  color: #084dbd;
  font-size: larger;
}