$mainBorderColor : rgb(5, 217, 255);

#heading {
    font-family: cursive;
    position: relative;
    margin-top: 10%;
    font-size: 30px;
    color: rgb(61, 84, 211);
    text-align: center;
    text-decoration: underline;
    text-underline-position: below;
    text-underline-offset: 5px;

    &:hover {
        color: rgb(4, 0, 253);
    }
}

#mainDis {
    display: flex;
    position: relative;
    flex-direction: column;
    // align-items: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 10%;
    padding-bottom: 50px;
    padding-left: 2%;
    min-width: 500px;
    max-width: 500px;

    min-height: 500px;
    height: max-content;
    width: max-content+10px;

    background-color: lightskyblue;
    // align-items: center;
    text-align: left;
    border-radius: 10%;
    border-bottom: solid 10px $mainBorderColor;
    border-right: solid 10px $mainBorderColor;

}

#inputBox {
    margin-left: 7%;
    position: relative;
    height: 30px;
    color: rgb(18, 65, 167);
    background-color: lightblue;
    border-bottom: lightcyan solid 5px;
    font-family: cursive;
    outline: none;
    font-size: 20px;
}

#addTaskButton {
    position: relative;
    margin-left: 10px;
    width: 75px;
    height: 38px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 255, 64);
    background-color: rgb(74, 116, 172);
    // outline: auto;
    // outline-width: 20px;
    // outline-color: lightskyblue;
    // border: none;
    box-shadow: mediumspringgreen;

    &:hover {
        background-color: lime;
        color: white;
        outline: none;
        border: none;
    }
}

.notes {
    margin-left: 10%;
    position: relative;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: left;

}

.buttonDelete {
    font-family: 'Times New Roman', Times, serif;
    margin-right: 10px;
    border-radius: 50%;
    color: default;
    font-size: 10px;
    width: 40px;
    height: 40px;
    outline: none;

    &:hover {
        background-color: red;
        box-shadow: currentColor;
    }
}

.noteText {
    font-family: cursive;
    text-transform: capitalize;
    text-overflow: ellipsis;
    color: rgb(8, 77, 189);
}